body, html {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: 'Material Icons Extended';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/materialiconsextended/v39/kJEjBvgX7BgnkSrUwT8UnLVc38YydejYY-oE_LvJ.woff2) format('woff2');
}

.calendars {
    display: flex;
}

.calendar_body {
    display: flex;
    flex-direction: row;
}

.calendar {
    display: flex;
    margin: 10px;
    padding: 2px;
    box-shadow: 1px 0 6px #F1F1F1;
    flex-direction: column;
}

.cell {
    font-size: 12px;
    font-weight: 500;
    width: 34px;
    height: 34px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cell.day {
    color: #212121;
}

.cell.title,
.cell.other-month {
    color: #757575;
}

.cell.today {
    background-color: #4285f4;
    color: #ffffff;
}

.cell.today:hover {
    background-color: #4285f4;
}

.column {
    background: #fff;
    text-align: center;
}

.button {
    cursor: pointer;
    border-radius: 50%;
}

.button:hover {
    background-color: #e0e0e0;
    transition: background-color 100ms linear;
}

.button.other-month:hover {
    background-color: #f5f5f5;
}

.calendar_header {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
    padding: 10px;
}

.month_name {
    flex: 1;
}

.buttons-wrapper {
    display: flex;
}

.navigation_button {
    font-family: 'Material Icons Extended';
    padding: 3px;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    user-select: none
}
